*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-left{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-middle{
    display: none;
}
.nav-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}
.nav-right p{
    padding: 30px 30px 20px;
    font-family: 'Cormorant', serif;
    font-size: 23px;
    line-height: 15px;
}
.banner{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    background-color: #F8EAD6;;
}
.banner > h1{
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
    color: #572409;
}
.banner button{
    width: 140px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #CEB68B; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.normal-button button{
    display: none;
}
.filter-bar{
    display: none;
}
.product-pic img{
    width: 200px;
}
.product-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-family: 'Cormorant', serif;
    font-size: 10px;
    text-align: center;
    margin: 10px;
} 

.hotitem-pic img{
    width: 200px;
}
.hotitem-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular-item{
    display: flex;
    flex-direction: row;
}
footer{
    display: none;
}
@media only screen and (min-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    input[type=text]{
        display: flex;
        width: 350px;
        border: 2px solid gainsboro;
        border-radius: 30px;
        font-size: 16px;
        background-color: white;
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }
    .nav-middle{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   
  .shop-button{
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-family: 'Cormorant', serif;
    font-size: 23px;
    margin:20px;
}
.normal-button button{
    background-color: #CEB68B; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
} 
.product-pic img{
    width: 150px;
}
.product-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h4{
    font-family: 'Cormorant', serif;
    font-size: 18px;
    text-align: center;
    margin: 10px;
} 
.hotitem-pic img{
    width: 150px;
}
.hotitem-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.popular-item{
    display: flex;
    flex-direction: row;
}
}
@media only screen and (min-width: 1000px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    input[type=text]{
        display: flex;
        width: 350px;
        border: 2px solid gainsboro;
        border-radius: 30px;
        font-size: 16px;
        background-color: white;
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }
    .nav-middle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        font-family: 'Cormorant', serif;
        font-size: 23px;
        margin: 0 50px;
    }
    * .banner{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: center;
        background-color: #F8EAD6;;
    }
    .banner > h1{
        font-size: 100px;
        font-family: 'DM Serif Display', serif;
        color: #572409;
    }
    .banner button{
        width: 250px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: #CEB68B; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; 
        transition-duration: 0.4s;
        margin: 20px;
        height: 50px;
    } 
    .normal-button button{
        background-color: #CEB68B; 
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        width: 180px;
    } 
.filter-bar{
    display: flex;
}
.product-pic img{
    width: 280px;
}
.product-pic{
    display: flex;
    justify-content: space-evenly;
}
h4{
    font-family: 'Cormorant', serif;
    font-size: 18px;
    text-align: center;
    margin: 10px;
} 
.hotitem-pic img{
    width: 280px;
}
.hotitem-pic{
    display: flex;
    justify-content: space-evenly;
}
.popular-item{
    display: flex;
    flex-direction: row;
}
footer{
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: 'Cormorant', serif;
    margin: 50px;
}
}

@media (min-width: 1001px) and (max-width: 1451px){
    .normal-button button{
        background-color: #CEB68B; 
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none; 
        display: inline-block; 
        font-size: 10px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
        width: 100px;
}
}
